include mixins.jade
//
// Intro / Story
// 
section
  strong Highly Cohesive Software Programming
section
  p let's pretend you're a software engineer
  p.fragment Senior Jawa Developer
  // TODO: jawa picture
  +notes.
    Let's pretend you're a software engineer
    Let's say I have a mythical language called Jawa,
section
  p.fragment.dimafter new feature
section
  p.fragment.dimafter a service to upload translations to ci
  p.fragment ci-3po
section
  p.fragment.dimafter awesome. 
  p.fragment.dimafter Your teammate just finished a tool to convert resources into d3 visualizations in jawa
  p.fragment r2d3
  +notes.
    and they push it up
section
  p let's make them work together
  img.fragment.noborder(src='resources/c3po_r2d2_1.gif')
  p.fragment oh dear
  +notes.
    It turns out, r-2-d3 and ci-3po were both mutating the same file resources
    you see, r2d3 was built unextensibly
section
  p They're tangled together
  div.fragment
    img.noborder(src='resources/r2po.png')
  +notes.
    you have to hack them apart
section
  p Tear them apart to start over
  img(src='resources/c3po_chewie.jpg', height='300', class='noborder')
section
  p They were `Tightly Coupled`: Unrelated, but inseparable
section
  p What you wanted was `Cohesion`
  p Related things nearby.
  img.fragment.noborder(src='resources/vader_son.jpg') 
section
  p Benefits of High Cohesion
  p.fragment.replaceafter Enables reuse (e.g., MVC)
  p.fragment.replaceafter Minimizes refactorings
  p.fragment.replaceafter Makes things easier to test
  p.fragment Enables Separation of Concerns
section
  p High Cohesion: Make things easy to understand
    p.fragment.replaceafter
      img.noborder(src='resources/xkcd_star_wars.png', width='900')
      em source: http://xkcd.com/657/
    p.fragment
      img.noborder(src='resources/xkcd_primer.png', width='900')
      em source: http://xkcd.com/657/
  +notes
    p star wars may seem complicated,
    p but really, it has many characters that
    p come together occasionally, and then have their own story
    p compared to primer, with very few characters, is nearly incomprehensible
    p a movie, about time travel
section
  h2 Jake's 3 Core Principles of Highly Cohesive Software Programming
  ol
    li.fragment Understand the Difference between Data and Objects
    li.fragment Minimize Object responsibility
    li.fragment Minimize Object scope