mixin notes
  aside(class='notes')
    block

mixin revealedcodeexample
  pre.fragment.hiddencode.dimcode
    block

mixin codeexample
  pre.fragment.dimcode
    block

mixin codeblock
  span.fragment.dimcode
    br
    block
    br
  

mixin revealedcodeblock
  span.fragment.dimcode.hiddencode
    br
    block
    br

mixin hiddenheader
  div.fragment.dimafter.visiblestart
    block